*{
    margin: 0 auto;
    padding: 0 auto;
}
body {
    font-family: 'Opens Sans', sans-serif;
    font-size: 1.6rem;
}
.page {
   // border: solid red;
   max-width: 45.0rem;
}
nav {
    display: flex;
    margin: 0rem ;
    padding: 0rem;
    justify-content: space-between;
    border-bottom: solid 0.1rem rgb(235, 232, 232);
    height: 4.5rem;

}
:root {
    font-size: 62.5%;
}
nav a {
    margin: auto 3.0rem;
}
.form-pesquisa{
 // border: solid red;
    margin: auto;
    padding: 0rem;
    display: flex;
    align-items: center;
}
.form-pesquisa input[type="search"]{
    border: solid 1px  rgb(197, 195, 195);
    border-radius: 5px;
    margin: auto;
    text-align: center;
    padding: 0.1rem;
    width: 10.9rem;
    height: 3.0rem;
    font-size: 0.9rem;
    
}

li {
list-style: none;

}
#logoPesq{
    cursor: pointer;
    margin: 0 15.0rem;
    padding: 0 auto;
    width: 2.5rem;
    
    
}
main{
    max-width: 45.0rem;
}
#filtro{
    margin:auto;
    display: flex;
    padding: 1.0rem;
    border-bottom: solid 0.1rem rgb(235, 232, 232);
}
#filtro select{
    margin: 0 2.0rem;
    border: solid 1px rgb(235, 232, 232) ;
    border-radius: 5px;
    padding: 0.5rem;
}

#titulo {
    //border: solid red;
    padding: 2.0rem;
}
main p {
    font-size: 1.3rem;
    margin-top: 2.0rem ;
    margin-bottom: 1.0rem;
    
}
h2 {
    font-size: 2.0rem;
    font-weight: 600;
}
.publicacao{
    display: flex;
    border: solid 1px rgb(197, 195, 195);
    border-radius: 15px;
    margin: auto;
    flex-direction: column;
    padding: auto;
    max-width: 38.0rem;
    
}
.publicacao img{
    margin: 0;
    max-width: 38.0rem;
    border-radius: 15px 15px 0 0;

}
.publicacao span {
    font-size: 1.4rem;
    font-weight: 600;
    margin: 2.5rem 2.0rem ;
    margin-bottom: 0;
}
.publicacao p {
    margin: 0 2.0rem;
    

}
.botao {
    display: flex;
    gap: 2.0rem;
}
